:root{
    --color-1: #000000;
  }
  body{
      line-height: 1.5;
      font-family: sans-serif;
      background-color: #c6cde0;
  }
  *{
      box-sizing: border-box;
      margin:0;
      padding:0;
  }
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }
  .container{
      max-width: 1170px;
      margin: auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  .align-items-center{
      align-items: center;
  }
  .justify-content-between{
      justify-content: space-between;
  }
  /*header*/
  .header{
      background-color: var(--color-1);
      padding:12px 0;
      position: relative;
  }
  .header .logo,
  .header .nav{
      padding:0 15px;
  }
  .header .logo a{
      font-size: 30px;
      color: #ffffff;
      text-transform: capitalize;
  }
  .header .nav ul li{
      display: inline-block;
      margin-left: 40px;
  }
  .header .nav ul li a{
      display: block;
      font-size: 16px;
      padding:10px 0;
      color: rgba(255,255,255,0.7);
      text-transform: capitalize;
      transition: all 0.5s ease;
  }
  .header .nav ul li a:hover,
  .header .nav ul li a.active{
      color: #ffffff;
  }
  .header #nav-check{
      position: absolute;
      opacity:0;
      pointer-events: none;
  }
  .nav-toggler{
      height: 34px;
      width: 44px;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
  }
  .nav-toggler span{
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--color-1);
      position: relative;
  }
  .nav-toggler span::before,
  .nav-toggler span::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: var(--color-1);
     left:0;
  }
  .nav-toggler span::before{
      top: -6px;
  }
  .nav-toggler span::after{
      top: 6px;
  }
  @media(max-width: 991px){
      .nav-toggler{
          display: flex;
      }
      .header .nav{
          position: absolute;
          left:0;
          top:100%;
          width: 100%;
          background-color: var(--color-1);
          border-top: 1px solid rgba(255,255,255,0.2);
          opacity:0;
          visibility: hidden;
      }
      .header .nav ul li{
          display: block;
          margin:0;
      }
      .header #nav-check:checked ~ .nav{
         opacity: 1;
         visibility: visible;
      }
      .header #nav-check:focus ~ .nav-toggler{
          box-shadow: 0 0 15px #000000;
      }
      .header #nav-check:checked ~ .nav-toggler span{
          background-color: transparent;
      }
      .header #nav-check:checked ~ .nav-toggler span::before{
          top:0;
          transform: rotate(45deg);
      }
      .header #nav-check:checked ~ .nav-toggler span::after{
          top:0;
          transform: rotate(-45deg);
      }
  }
  
  body {
    background: rgb(94,107,144);
background: linear-gradient(0deg, rgba(94,107,144,1) 0%, rgba(0,0,0,1) 74%);
background-attachment: fixed;
  }

 
  div.picture img {
  display: block;
   
   margin-left: auto;
   margin-right: auto;
   left: 20%;
   top: 20%;
   transform: translate(-20%,20%);
    }
  
  div.main {
    color: white;
   
    text-align: center;
    position: relative;
    width: 500px;
    height: 500px;
   margin-left: 32%;
   margin-top: 7%;
   font-family: Arial, Helvetica, sans-serif;
   
    
  }
 
 .h1{
    margin-left: 32%;
   margin-top: 1%;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.acc{
    margin-left: 32%;
    margin-top: 7%;  
}
input[type=submit] {
    width: 20em;  height: 3em;
    margin-left: 0%;
    margin-top: 7%; 
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
input[type=text]{
    width: 20em;  height: 3em;
}

div.guitar{
    margin-left: 60%;
    margin-bottom: 60%; 
}

div.img1{
    margin-left: 20%;
    margin-top: 5%; 
    color: #ffffff;
    width: 20em;
    font-size: large;
}

div.abouts{
    margin-left: 60%;
    margin-top: 5%; 
    padding: 10px;
    font-size: large;
}

div.kk img{
    float: left;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center
  }
  .butt{
    margin-left: 62%;
  
  }

 .button{
    width: 10em;
    background-color: antiquewhite;
    height: 3em;
    font-size: large;
 }
 .button:hover {
    background-color:black;
  }
 